# Ignore the virtual environment folder
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment variables files
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS-specific files
.DS_Store

# Ignore log files
*.log

# Ignore the model files
*.joblib

# Ignore any local database files
*.sqlite3

# Ignore any cache files
.cache/

# Ignore the output files (optional, if you generate output files)
output/
